/* start of ol code block style */

ol.code {
   margin: 2.5em 2em;
   padding: 0em;
   border: solid 1px #2b91af;
   font-family: "Courier New" , Courier, serif;
   font-weight: bold;
   color: #2b91af;
   background: #eee;
   line-height: 115%;
   overflow: auto; }

ol.code pre {
   margin: 0em;
   padding: 0.3em 0.5em;
   border-left: solid 1px #2b91af;
   font-size: 80%;
   color: #000;
   background: #eee;
   width: auto; }

ol.code li {
   margin: 0em 0em 0em 5em;
}