/* start of ol code block style */

ul.code {
   list-style-type: none;
   margin: 2em;
   padding: .1em 1em;
   border: solid 1px #2b91af;
   font-family: "Courier New" , Courier, serif;
   font-weight: bold;
   color: #2b91af;
   background: #eee;
   line-height: 115%;
   overflow: auto; }

ul.code li {
   font-size: 90%;
   color: #000;
   background: #eee;
   width: auto;
}